<link rel="import" href="../bower_components/paper-card/paper-card.html"/>
<dom-module id="x-nodo">
    <template>
        <style>
            paper-card{
                font-size: 9px;
                text-align: center;
                width: 180px;  
                margin: 10px;
                margin-left: 20px;
                margin-top: 20px;
            }

            paper-card.area:hover{
                background:#03A9F4;
                color:#fff;
            }
            paper-card.area:hover a{
                color:#fff;
            }



            paper-card.area, paper-card.empleado{
                border: 1px solid #999;
            }
            paper-card.falsa{
                margin-top: 20.9px;
            }

             paper-card.staff{
                border: 1px dashed #999;
             }

            /*paper-card.empleado.fotografia:not(.area) {
                background:none;
                border:none;
            }*/
            
            .area .card-content, .empleado .card-content{
                min-height: 40px;
            }

            .area.empleado .card-content{
                min-height: 60px;
            }
            .empleado.fotografia .card-content{
                height: 120px;
            }

            .area.fotografia .card-content{
                height: 185px;
            }
            
            .falsa .card-content{
                border: 2px dashed #999;
            }
            .area .card-content a, .falsa .card-content a{
                font-weight: bold;
            }
            
            paper-card.staff.left::before{
                content: '';
                z-index: -1;
                position: absolute;
                right: -108px;
                bottom: -55px;
                border-right: 2px solid #999;
                width: 50%; height: 175%;
            }
            paper-card.staff.empleado.left:not(.fotografia)::before{
                content: '';
                z-index: -1;
                position: absolute;
                right: -108px;
                bottom: -55px;
                border-right: 2px solid #999;
                width: 50%; height: 300%;
            }
            paper-card.staff.left::after{
                content: '';
                position: absolute;right: -60%; top:50%;
                border-top: 2px solid #999;
                width: 60%; height: 0;
            }
            paper-card.staff.right::after{
                content: '';
                position: absolute;left: -59%; top:50%;
                border-top: 2px solid #999;
                width: 59%; height: 0;
            }
            
            paper-card.nivel3.unico{
                margin-top: 42px;
            }
            paper-card.empleado.nivel3.unico,paper-card.empleado.nivel4.unico{
                margin-left: -20px;
            }
            
            paper-card.nivel2.unico::before,paper-card.nivel3.unico::before, paper-card.nivel4.unico::before{
                content: '';
                z-index: -1;
                position: absolute; top:-52px; left: 50%;
                border-left: 2px solid #999;
                width: 171px; height: 51px;
            }
            
            
            paper-card.nivel3.inter.fotografia::before, paper-card.nivel4.inter.fotografia::before,paper-card.nivel3.fotografia.ultimo::before, paper-card.nivel4.fotografia.ultimo::before{
                content: '';
                z-index: -1;
                position: absolute; bottom:50%; left: -30px;
                border-bottom: 2px solid #999;
                border-left: 2px solid #999;
                width: 28px; height: 120%;
            }

            paper-card.nivel3.inter:not(fotografia)::before, paper-card.nivel4.inter::before,paper-card.nivel3.ultimo::before, paper-card.nivel4.ultimo::before{
                content: '';
                z-index: -1;
                position: absolute; bottom:50%; left: -30px;
                border-bottom: 2px solid #999;
                border-left: 2px solid #999;
                width: 28px; height: 200%;
            }

            paper-card.nivel3.primero, paper-card.nivel4.primero{
                margin-top: 40px;
            }
            
            paper-card.nivel3.primero::before, paper-card.nivel4.primero::before{
                content: '';
                z-index: -1;
                position: absolute; top:-10px; left: -30px;
                border-top: 2px solid #999;
                border-bottom: 2px solid #999;
                border-left: 2px solid #999;
                width: 107px; height: 60%;
            }
            
            paper-card.nivel3.primero::after, paper-card.nivel4.primero::after{
                content: '';
                z-index: -1;
                position: absolute; top:-51px; left:77px;
                border-left: 2px solid #999;
                width: 0; height: 42px;
            }
            
            
            paper-card.nivel2.primero::before{
                content: '';
                position: absolute; top:-30px; left: 50%;
                border-top: 2px solid #999;
                border-left: 2px solid #999;
                width: 100%; height: 28px;
            }
            paper-card.nivel2.inter::before{
                content: '';
                position: absolute; top:-30px; left: -60%;
                border-top: 2px solid #999;
                width: 190%; height: 1px;
            }
            paper-card.inter.nivel2::after{
                content: '';
                position: absolute; top:-30px; left: 50%;
                border-left: 2px solid #999;
                width: 0; height: 30px;
            }
            
            paper-card.nivel2.ultimo::before{
                content: '';
                position: absolute; top:-30px; right: 49%;
                border-top: 2px solid #999;
                border-right: 2px solid #999;
                width: 100%; height: 28px;
            }
            
            paper-card.nivel1.tiene-hijos{
                margin-bottom: 47px;
            }
            
            paper-card.nivel1.tiene-hijos::before{
                content: '';
                position: absolute; 
                bottom:-40px; 
                border-right: 2px solid #999;
                width: 0;
                height: 40px;
            }

            paper-card.nivel1.unico{
                width: 250px;
            }
            paper-card.nivel1.unico > div.card-content{
                height: 150px;
            }
            
            .puesto{
                font-style: italic;
                color:#555;
            }
            
            
            p.area{
                width: 100%;
                padding:4px;
                margin-left:-4px;
                margin-bottom: 5px;
            }
            p.area:hover{
                background: #888;
                 border-radius: 5px;
                -webkit-border-radius:  5px;
                -moz-border-radius:  5px;
                color:#fff;
            }

            .circular {
                border-radius: 50%;
                -webkit-border-radius:  50%;
                -moz-border-radius:  50%;
                border:4px solid #FFF;
	        }
            .circular.nodo{
                width: 80px;
                height: 80px;
            }

            .circular.detalle{
                width: 220px;
                height: 220px;
            }
            .circular:hover{
                border:4px solid #FFF;
            }
            div.empleado{
                cursor:pointer;
            }

            div.actividades{
                max-width:800px;
            }
/*
            .nivel1 p.area{
                background: #01579B;
                color: white;
            }
            .nivel2 p.area{
                background: #039BE5;
                color: white;
            }
            .nivel3 p.area{
                background: #80CBC4;
            }
            
*/
        </style>
        <paper-card class$=[[clase]]>
            <div class="card-content">
                <template is="dom-if" if="{{_area(area)}}">
                    <a href="/{{area._id}}">
                        <p class="area">
                            [[area.adscripcion]]
                            <paper-tooltip>Detalles del área <iron-icon icon="launch"></iron-icon></paper-tooltip>
                        </p>
                    </a>
                </template>
                <template is="dom-if" if="{{_empleado(empleado)}}">
                    <div class="empleado" on-click="detalles">
                        <template is="dom-if" if="{{_tieneFoto(empleado.fotografia)}}">
                            <img class="circular nodo" src="{{empleado.fotografia}}">
                            <br>
                        </template>
                        <span class="nombre">[[empleado.nombre]] [[empleado.primer_apellido]] [[empleado.segundo_apellido]]</span>
                        <br/>
                        <span class="puesto">[[empleado.puesto]]</span>
                        <paper-tooltip>Detalles del empleado <iron-icon icon="face"></iron-icon></paper-tooltip>
                    </div>
                </template>
            </div>
        </paper-card>

        <paper-dialog modal>
            <template is="dom-if" if="{{_tieneFoto(empleado.fotografia)}}">
                <img class="circular detalle" src="{{empleado.fotografia}}">
            </template>
            <h2>[[empleado.nombre]] [[empleado.primer_apellido]] [[empleado.segundo_apellido]]</h2>
            <span class="puesto">[[empleado.puesto]]</span>
            <div class="actividades">
                <p>[[empleado.actividades]]</p>
            </div>
            <div class="buttons">
                <paper-button dialog-dismiss>Cerrar</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: 'x-nodo',
            properties:{
				area:{
                    type:Object,
                    notify:true
                },
				empleado:Object,
                obj:Object,
                clases:{
                    type:String,
                    value:'sin-hijos'
                },
				ultimoNodo:{
						type:Number,
						value:1
				},
				index:{
						type:Number,
						value:0,
				},
				nivel:{
						type:Number,
						value:3
				},
                staff:{
                    type:Boolean,
                    value:false
                    
                }
            },
            _area:function(area){
                if(area == null)
					return false;
				else
					return true;
			},
			_empleado:function(empleado){
				if(empleado == null)
					return false;
				else
					return true;
			},
            _tieneFoto:function(foto){
				if(foto == null || foto=="")
					return false;
				else
					return true;
			},
            detalles:function(){
                var dlg=this.querySelector('paper-dialog');
                dlg.open();
            },
			ready:function(){
				//deternima las clases a utilizar en el nodo
				var cnivel="nivel"+this.nivel;
				var cindex="inter";
                var cnodo="";

                //determina las clases para el staff
                if(this.staff){
                    if(this.index % 2==0)
                        this.clase="staff left";
                    else
                        this.clase="staff right";
                    if(this.obj.rfc){
                        this.empleado=this.obj;
                        this.clase+=" empleado";
                        if(this.empleado.fotografia){
                            this.clase+=" fotografia";
                        }
                    }
                    else
                        this.area=this.obj;
                    if(this.area)
                        this.clase=this.clase+" area";
                }else{
                    if(this.index == this.ultimoNodo-1){
                        if(this.index==0){
                            cindex="unico";
                        }else{
                            cindex="ultimo";
                        }
                    }
                    else{
                        if(this.index==0)
                            cindex="primero";
                    }
                    //determina si el nodo tiene hijos, 
                    if(this.area){
                        var subs=this.area.subareas;
                        if(this.area.falsa){
                            cnodo="falsa";
                        }else{
                            cnodo="area";
                        }
                        if(subs){
                            //si es raiz tiene que tener hijos
                            if(this.area.raiz){
                                this.clases="tiene-hijos";
                            }
                            else{
                                if(subs.length>0)
                                    this.clases="tiene-hijos"
                                if(this.area.empleados.length>0)
                                    this.clases="tiene-hijos"
                            }
                        }
                    }

                    //determina si tiene fotografia
                    if(this.empleado){
                        cnodo+=" empleado";
                        if(this.empleado.fotografia){
                                cnodo+=" fotografia";
                            }
                    }
                    this.clase=cnodo+" "+cnivel+" "+cindex+" "+this.clases;
                }
			}
        });
    </script>

    </script>
</dom-module>