<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html"/>
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="x-nodo.html"/>
<dom-module id="x-rama">
    <template>
        <style>
            .flex-center-justified {
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
              }
            .flex-horizontal {
                padding-top: 40px;  
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
                
              }
            
            .flex-vertical {
                padding-left: 40px;
                @apply(--layout-vertical);
              }
            .flex-wrap{
                width: 600px;
                padding-left: -200px;
              @apply(--layout-horizontal);
                @apply(--layout-justified);
              @apply(--layout-wrap);
            }
            
            
        </style>
        
        <iron-ajax auto url="/adscripcion/[[id]]" handle-as="json" last-response="{{areax}}" on-response="validahijos"></iron-ajax>
        <template is="dom-if" if="[[cargando]]">
                <paper-spinner-lite active=[[cargando]] class="flex-center-justified"></paper-spinner-lite>
        </template>
        <template is="dom-if" if="[[listo]]">
            <div class="flex-center-justified">
                <div class$="[[claseNivel]]">
                    <x-nodo area={{areax}} index=[[index]] nivel=[[nivel]] ultimo-nodo={{ultimo}}></x-nodo>
                </div>
            </div>
            <template is="dom-if" if="[[areax.raiz]]">
                <div class="flex-center-justified contenedor-staff">
                    <div class="flex-wrap">
                        <template is="dom-repeat" as="staff" items="{{areax.subareas}}" filter="esStaff">
                            <x-nodo area={{staff}} index=[[index]] staff=true></x-nodo> 
                        </template>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="[[mostrarHijos]]">
                <div class$="{{alineacion}}">
                    <template is="dom-repeat" items="{{areax.subareas}}" filter="noEsStaff">
                        <x-rama id="{{item._id}}" alineacion='flex-vertical' nivel=[[nivelx]] index=[[index]] ultimo={{getUltimo()}}></x-rama>
                    </template>
                </div>
            </template>
        </template>
    </template>
    <script>
        Polymer({
            is: 'x-rama',
            properties:{
                id:Number,
                raiz:{
                    type:Boolean,
                    value:false
                },
                cargando:{
                    type:Boolean,
                    value:true
                },
                ultimo:{
                    type:Number,
                    value:1
                },
                nivel:Number,
                index:Number,
                nivelMax:{
                    type:Number,
                    value:3
                },
                alineacion:{
                    type:String,
                    value:'flex-horizontal'
                },
                clase:{
                    type:String,
                    value:'horizontal'
                },
                claseNivel:{
                    type:String,
                    value:'sin-hijos',
                    notify:true,
                }
            },
            ready:function(){
                this.nivelx=this.nivel+1;
                if(this.nivel<this.nivelMax){
                    this.mostrarHijos=true;
                }
                console.log(this.ultimo);
            }
            ,
            esStaff:function(area){
                if(area.staff){
                    this.ultimoNodo=this.ultimoNodo-1;
                    console.log(this.ultimoNodo)
                }
                return area.staff;
            },
            noEsStaff:function(area){
                if(area.staff)
                    return false;
                else
                    return true;
            },
            validahijos:function(data){
                
                //se cambian las banderas para construir los nodos
                this.cargando=false;
                this.listo=true;
                
                //se recupera las subareas
                var subs=this.areax.subareas;
                //valida que tenga subareas
                if(this.areax.subareas){
                    this.ultimoNodo=this.areax.subareas.length;
                }
                //su es el elemento raiz se actializa el contenedor principal
                if(this.raiz){
                    var main=document.querySelector('main-container');
                    main.area=this.areax.adscripcion;
                    main.super=this.areax.super;
                }
                
                if(this.ultimoNodo>0){
                    if(this.nivel<this.nivelMax){
                        this.claseNivel="tiene-hijos";
                    }
                    if(this.ultimoNodo==1){
                        this.alineacion='flex-horizontal';
                    }
                }
                this.claseNivel=this.claseNivel+' nivel'+this.nivel;
                console.log(this.claseNivel);
            },
            getUltimo:function(){
                return this.ultimoNodo;
            }
        });
    </script>
</dom-module>