<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html"/>
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="x-nodo.html"/>
<dom-module id="x-rama">
    <template>
        <style>
            .flex-center-justified {
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
              }
            .flex-horizontal {
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
                
              }
            
            .flex-vertical {
                padding-left: 24px;
                @apply(--layout-vertical);
              }
            .flex-wrap{
                width: 600px;
                margin-top: -40px;
                padding-left: -50%;
                margin-bottom: 52px;
              @apply(--layout-horizontal);
                @apply(--layout-justified);
              @apply(--layout-wrap);
            }
        
            
        </style>
        
        <template is="dom-if" if="{{tieneID}}">
            <iron-ajax auto url="/adscripcion/[[id]]" handle-as="json" last-response="{{areax}}" on-response="validahijos"></iron-ajax>
        </template>
        <template is="dom-if" if="[[cargando]]">
                <paper-spinner-lite active=[[cargando]] class="flex-center-justified"></paper-spinner-lite>
        </template>
        <template is="dom-if" if="[[listo]]">
            <div class="flex-center-justified">
                <div class$="[[claseNivel]]">
                    <x-nodo area={{areax}} index=[[index]] nivel=[[nivel]] ultimo-nodo={{ultimo}} empleado=[[titular]]></x-nodo>
                </div>
            </div>
            <template is="dom-if" if="{{_tieneStaff(raiz,staff)}}">
                <div class="flex-center-justified contenedor-staff">
                    <div class="flex-wrap">
                        <template is="dom-repeat" as="stf" items="{{staff}}">
                            <x-nodo obj={{stf}} index=[[index]] staff=true></x-nodo> 
                        </template>
                    </div>
                </div>
            </template>
            <template is="dom-if" if="[[mostrarHijos]]">
                <template is="dom-if" if="{{_tieneSubareas(areax)}}">
                    <div class$="{{alineacion}}">
                        <template is="dom-repeat" items="{{areax.subareas}}" filter="noEsStaff">
                            <template is="dom-if" if="{{_esVerdadera(item)}}">
                                <x-rama id="{{item._id}}" alineacion='flex-vertical' nivel=[[nivelx]] index=[[index]] ultimo={{getUltimo()}}></x-rama>
                            </template>
                            <template is="dom-if" if="{{_esFalsa(item)}}">
                                <x-rama areax="{{item}}" alineacion='flex-vertical' nivel=[[nivelx]] index=[[index]] ultimo={{getUltimo()}}></x-rama>
                            </template>
                        </template>
                    </div>
                </template>
                <template is="dom-if" if="{{_tieneEmpleados(areax)}}">
                    <div class$="{{alineacionEmp}}">
                        <template is="dom-repeat" items="{{areax.empleados}}">
                                <x-nodo index=[[index]] empleado=[[item]] nivel=[[nivelEmp]] ultimo-nodo={{empleadosCount}}></x-nodo>
                        </template>
                    </div>
                </template>
            </template>
        </template>
    </template>
    <script>
        Polymer({
            is: 'x-rama',
            properties:{
                areax:Object,
                id:Number,
                raiz:{
                    type:Boolean,
                    value:false
                },
                cargando:{
                    type:Boolean,
                    value:true
                },
                ultimo:{
                    type:Number,
                    value:1
                },
                nivel:Number,
                index:Number,
                nivelMax:{
                    type:Number,
                    value:3
                },
                alineacion:{
                    type:String,
                    value:'flex-horizontal'
                },
                clase:{
                    type:String,
                    value:'horizontal'
                },
                claseNivel:{
                    type:String,
                    value:'sin-hijos',
                    notify:true,
                }
            },
            ready:function(){
                this.nivelx=this.nivel+1;
                if(this.nivel<this.nivelMax){
                    this.mostrarHijos=true;
                }
                this.alineacionEmp=this.alineacion;
                this.nivelEmp=this.nivelx;
                
                if(this.id){
                    this.tieneID=true;
                }else{
                    this.tieneID=false;
                    this.validahijos(false);
                    
                }
            }
            ,
            esStaff:function(area){
                if(area.staff){
                    this.ultimoNodo=this.ultimoNodo-1;
                }
                return area.staff;
            },
            noEsStaff:function(area){
                if(area.staff)
                    return false;
                else
                    return true;
            },
            esTitular:function(emp){
                if(emp.titular)
                    return emp.titular;
            },
            validahijos:function(data){
                
                //se cambian las banderas para construir los nodos
                this.cargando=false;
                this.listo=true;
                
                ///valida que tenga empleados
                if(this.areax.empleados){
                    this.empleadosCount=this.areax.empleados.length;
                    //se determina en titular del área
                    this.titular=this.areax.empleados.find(this.esTitular);
                    //se elimina de la lista de empleados
                    if(this.titular){
                        var i=this.areax.empleados.indexOf(this.titular);
                        this.areax.empleados.splice(i,1);
                        this.empleadosCount -= 1;
                    }
                    //determina la alineación de los empleados segun el numero y nivel
                    if(this.empleadosCount>6){
                        this.alineacionEmp='flex-vertical';
                        this.nivelEmp=3;
                    }
                }
                
                //se recupera las subareas
                var subs=this.areax.subareas;
                this.ultimoNodo=subs.length
                
                var staff=[];
                //valida que tenga subareas
                if(subs){
                    //determina si tiene areas staff
                    subs.forEach(function(item,index){
                        if(item.staff){
                            staff.push(item);
                        }
                    });
                    if(staff){
                        //elimina los elementos del staff del array de subareas
                        staff.forEach(function(item,index){
                            subs.slice(subs.indexOf(item),1);
                        });
                    }
                    //determina la longitud de las areas
                    this.ultimoNodo=subs.length-staff.length; 
                }
                
                
                //su es el elemento raiz se actualiza el contenedor principal
                if(this.raiz){
                    var main=document.querySelector('main-container');
                    main.area=this.areax.adscripcion;
                    main.super=this.areax.super;
                    
                    //determina si se muestra los empleados en el area de staff o como un area auxiliar
                    
                    //como staff
                    if(this.areax.raiz || subs.length>0){
                        if(this.areax.empleados.length<5){
                            staff=staff.concat(this.areax.empleados);
                        }else{
                            var area_falsa={
                                _id:this.id,
                                adscripcion:"Personal de apoyo adscrito al área",
                                subareas:new Array,
                                empleados:this.areax.empleados,
                                falsa:true,
                            }
                            this.areax.subareas.push(area_falsa);
                            this.ultimoNodo+=1;
                        }
                    } 
                }
                
                this.areax.subareas=subs;
                this.staff=staff;
                if(this.ultimoNodo>0){
                    if(this.nivel<this.nivelMax){
                        this.claseNivel="tiene-hijos";
                    }
                    if(this.ultimoNodo==1){
                        this.alineacion='flex-horizontal';
                    }
                }
                this.claseNivel=this.claseNivel+' nivel'+this.nivel;
                console.log(this.claseNivel);
            },
            getUltimo:function(){
                return this.ultimoNodo;
            },
            _tieneSubareas:function(a){
                if(a.subareas.length>0)
                    return true;
                else
                    return false;
            },
            _tieneStaff:function(r,s){
                if(r && s.length>0)
                    return true;
            },
            
            _esVerdadera:function(a){
                return !a.falsa;
            },
            _esFalsa:function(a){
                return !this._esVerdadera(a);
            },
            _tieneEmpleados:function(a){
                if(a.empleados.length>0){
                    
                    //si no tiene subareas se muestra dentro de las ramas
                    if(this._tieneSubareas(this.areax))
                        return false;
                    else
                        return true;
                }
                else
                    return false;
            }
        });
    </script>
</dom-module>